body {
    display: flex;
    margin: 0;
    flex-direction: column;
    align-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #272729;
    align-items: center;
    justify-content: space-evenly;
    padding: 0% 10%;
    height: 5%;
}

.navbar-link {
    color: #cecece;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 7.5;
    line-height: 1.23536;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-button {
    padding: 0px 10px;
    cursor: pointer;
    width: 1.4vw;
}

.banner-unicef {
    background-color: #fbfbfd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8%;
    padding: 20px;
}


.logo-unicef {
    width: 10%;

}

#link-unicef {
    font-size: 12;
    padding: 0.8vw;
    color: #06c;

}

.link {
    font-size: 12;
    padding: 0.8vw;
    color: #06c;
    text-decoration: none;
    margin-left: 1;
}

#macbook-air-banner {
    /* background-color: #fbfbfd;
    background-image: url("./imagenes/macbook_air.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 3000px 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
    margin: 0;*/
}

#macbook-air-banner {
    height: 90vh;
    background-image: url("./imagenes/macbook_air.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.macbook-air {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30vw;
}

.information-buy-links {
    display: flex;
    flex-direction: row;

}

.headline {
    font-size: 25px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.002em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
    text-align: center;
    margin: 1.2vh;
}

#text-macbook-air {
    width: 50%;
}

#iphone-13-banner {
    background-color: #fbfbfd;
    background-image: url("./imagenes/hero_iphone13_avail__gnqqkzuai6um_largetall.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 2000px 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    margin: 1.5vh 0;
}

.iphone-13 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
}

#iphone-13-subtitulo {
    font-size: 15px;
    line-height: 1.16667;
    text-align: center;
    letter-spacing: 0.009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}

.product-image {
    width: 100%;
    height: 100%;
}

#banner-supercharged {
    background-color: #fbfbfd;
    background-image: url("./imagenes/IMG-20220806-WA0000.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 500px 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    margin: 1.5vh 0;
}

.banner-super {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
}

#banner-bts {
    background-color: #fbfbfd;
    background-image: url("./imagenes/hero_bts__bcuslanw39xe_largetall.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 2000px 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    margin: 1.5vh 0;
}

#iphone-13-pro {
    background-color: #fbfbfd;
    background-image: url("./imagenes/promo_iphone13pro_avail__beadms4ldidu_large.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 2000px 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    margin: 1.5vh 0;
}

.iphone-pro {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
}

#iphone-13p-subtitulo {
    font-size: 15px;
    line-height: 1.16667;
    text-align: center;
    letter-spacing: 0.009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}

.product-image {
    width: 100%;
    height: 100%;
}

#macbook-pro13-banner {
    background-color: #fbfbfd;
    background-image: url("./imagenes/promo_mbp13__buwssod6c8vm_large.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1500px 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1vw;
    margin: 0;
}

.macbook-pro {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30vw;
}

#text-macbook-pro13 {
    width: 50%;
}

#banner-watch {
    background-color: #fbfbfd;
    background-image: url("./imagenes/promo_watch_lte__djeaso7ukrsm_large.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 1500px 500px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    margin: 1.5vh 0;
}

.whatch {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50vw;
}

#text-watch {
    width: 10%;
    height: 20%;
}

#banner-iPad-air {
    background-color: #fbfbfd;
    background-image: url("./imagenes/promo_ipadair_avail__ferd4bfpcdm6_large.jpeg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: top;
    background-size: 2000px 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1vw;
    margin: 1.5vh 0;
}

.ipad-air {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
}

#text-ipad {
    font-size: 15px;
    line-height: 1.16667;
    text-align: center;
    letter-spacing: 0.009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
}



.products-highlights {
    border: 1px solid yellowgreen;
}

footer {
    border: 1px solid red;
}